### Pandas Idexing

There are several ways to index a Pandas DataFrame. These are:

Square bracket notation: One of the easiest ways to do this is by using square bracket notation.

Loc and iloc: loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index

Dot (.) notation:

In [ ]:
import numpy as np

In [2]:
import pandas as pd

C:\Users\ibuku\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

# DATAFRAMES

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [3]:
newrand= np.random.randint(1,20,20)

In [4]:
newrand= newrand.reshape(5,4)

In [5]:
 dp= pd.DataFrame(newrand, index = 'A B C D E'.split(), 
                  columns = "W X Y Z".split())

In [6]:
dp

    W   X   Y   Z
A  17  13   6  16
B  13   9   3   7
C   6   7  10  14
D   6   1  11  16
E   3   7   8   9

In [8]:
from numpy.random import randn
np.random.seed(101)
df = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(),
                  columns='W X Y Z'.split())

In [9]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [10]:
df["Addition"] = df["W"] + df["Y"]
df

          W         X         Y         Z  Addition
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

## Selection and Indexing
#### Understanding the various methods of grabbing data from a dataframe

##### Square Bracket Notation and dot notation

In [11]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [12]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [13]:
df[:1]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119

### To Access more than one column, you can do so by entering a list into the parentheses

In [93]:
df[['W','X']]

          W         X
A  0.302665  1.693723
B -0.134841  0.390528
C  0.807706  0.072960
D -0.497104 -0.754070
E -0.116773  1.901755

In [94]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [23]:
df['added'] = df['W'] + df ['Z']

# creating a new column using data from exisiting columns

In [24]:
df["avgWXy"]

KeyError: 'avgWXy'

In [18]:
df

               W         X         Y         Z  avgWXy
A       0.302665  1.693723 -1.706086 -1.159119     NaN
B      -0.134841  0.390528  0.166905  0.184502     NaN
C       0.807706  0.072960  0.638787  0.329646     NaN
D      -0.497104 -0.754070 -0.943406  0.484752     NaN
E      -0.116773  1.901755  0.238127  1.996652     NaN
avgWXy  0.072331  0.660979 -0.321135       NaN     NaN

In [96]:
df

          W         X         Y         Z     added
A  0.302665  1.693723 -1.706086 -1.159119 -0.856454
B -0.134841  0.390528  0.166905  0.184502  0.049661
C  0.807706  0.072960  0.638787  0.329646  1.137352
D -0.497104 -0.754070 -0.943406  0.484752 -0.012352
E -0.116773  1.901755  0.238127  1.996652  1.879879

#### Removing columns

In [97]:
df.drop('added', axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

#### The sort of removal done above just removes the specified dataset on the fly, not inplace unless specified

In [98]:
df

#This shows that the new column is still there

          W         X         Y         Z     added
A  0.302665  1.693723 -1.706086 -1.159119 -0.856454
B -0.134841  0.390528  0.166905  0.184502  0.049661
C  0.807706  0.072960  0.638787  0.329646  1.137352
D -0.497104 -0.754070 -0.943406  0.484752 -0.012352
E -0.116773  1.901755  0.238127  1.996652  1.879879

In [99]:
df.drop('added', axis=1, inplace=True)

#### This removal done above totally removes it from the dataset by setting inplace = True

In [100]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

#### Rows can be dropped this way, on the fly

In [101]:
df.drop('E', axis = 0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [25]:
df

          W         X         Y         Z  Addition     added
A  2.706850  0.628133  0.907969  0.503826  3.614819  3.210676
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -1.489355 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542  1.143752
E  0.190794  1.978757  2.605967  0.683509  2.796762  0.874303

#### Using loc and iloc for selecting rows

In [28]:
df.iloc[0]

W           2.706850
X           0.628133
Y           0.907969
Z           0.503826
Addition    3.614819
added       3.210676
Name: A, dtype: float64

In [104]:
df.iloc[2]

#This selects off of position instead of labels

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [34]:
df.loc[['B','C'], ['W', "X"]]

          W         X
B  0.651118 -0.319318
C -2.018168  0.740122

In [106]:
df.loc[['A','B'],['W','X']]

          W         X
A  0.302665  1.693723
B -0.134841  0.390528

## Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy

In [35]:
df

          W         X         Y         Z  Addition     added
A  2.706850  0.628133  0.907969  0.503826  3.614819  3.210676
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -1.489355 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542  1.143752
E  0.190794  1.978757  2.605967  0.683509  2.796762  0.874303

In [37]:
df[df>0]

          W         X         Y         Z  Addition     added
A  2.706850  0.628133  0.907969  0.503826  3.614819  3.210676
B  0.651118       NaN       NaN  0.605965       NaN  1.257083
C       NaN  0.740122  0.528813       NaN       NaN       NaN
D  0.188695       NaN       NaN  0.955057       NaN  1.143752
E  0.190794  1.978757  2.605967  0.683509  2.796762  0.874303

In [109]:
df > 1

       W      X      Y      Z
A  False   True  False  False
B  False  False  False  False
C  False  False  False  False
D  False  False  False  False
E  False   True  False   True

In [110]:
df[df>0]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [46]:
df[df['W']>0]["Y"]

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [112]:
df[df['W']>0]['Y']

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [113]:
df[df['W']>0][['Y','X']]

          Y         X
A -1.706086  1.693723
C  0.638787  0.072960

#### For more than one condition, use keywords like (&, |) with parenthesis:

In [47]:
df

          W         X         Y         Z  Addition     added
A  2.706850  0.628133  0.907969  0.503826  3.614819  3.210676
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -1.489355 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542  1.143752
E  0.190794  1.978757  2.605967  0.683509  2.796762  0.874303

In [50]:
True and False

False

In [57]:
df[(df["W"]>0) | (df["Y"]>1)]

          W         X         Y         Z  Addition     added
A  2.706850  0.628133  0.907969  0.503826  3.614819  3.210676
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959  1.257083
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542  1.143752
E  0.190794  1.978757  2.605967  0.683509  2.796762  0.874303

In [114]:
df[(df['W']>0)|(df['Y']>1)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [115]:
df[(df['W']>0) & (df['Y']>0)]

          W        X         Y         Z
C  0.807706  0.07296  0.638787  0.329646

### More Index Details

In [116]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [117]:
#To reset an already assigned index
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [118]:
newind = 'CA NY WY OR CO'.split()

In [119]:
df['States'] = newind

In [120]:
df

          W         X         Y         Z States
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     NY
C  0.807706  0.072960  0.638787  0.329646     WY
D -0.497104 -0.754070 -0.943406  0.484752     OR
E -0.116773  1.901755  0.238127  1.996652     CO

In [123]:
df.set_index('Y')

                  W         X         Z States
Y
-1.706086  0.302665  1.693723 -1.159119     CA
 0.166905 -0.134841  0.390528  0.184502     NY
 0.638787  0.807706  0.072960  0.329646     WY
-0.943406 -0.497104 -0.754070  0.484752     OR
 0.238127 -0.116773  1.901755  1.996652     CO

In [53]:
df

          W         X         Y         Z States
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     NY
C  0.807706  0.072960  0.638787  0.329646     WY
D -0.497104 -0.754070 -0.943406  0.484752     OR
E -0.116773  1.901755  0.238127  1.996652     CO

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [54]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [55]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [56]:
df = pd.DataFrame(np.random.randn(6,2),index = hier_index, columns = ['A','B'])
df

             A         B
G1 1 -0.993263  0.196800
   2 -1.136645  0.000366
   3  1.025984 -0.156598
G2 1 -0.031579  0.649826
   2  2.154846 -0.610259
   3 -0.755325 -0.346419

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [57]:
df.loc['G1']

          A         B
1 -0.993263  0.196800
2 -1.136645  0.000366
3  1.025984 -0.156598

In [58]:
df.loc['G1'].loc[1]

A   -0.993263
B    0.196800
Name: 1, dtype: float64

In [59]:
df.index.names

FrozenList([None, None])

In [60]:
df.index.names = ['Group','Num']

In [61]:
df

                  A         B
Group Num
G1    1   -0.993263  0.196800
      2   -1.136645  0.000366
      3    1.025984 -0.156598
G2    1   -0.031579  0.649826
      2    2.154846 -0.610259
      3   -0.755325 -0.346419

In [62]:
df.xs('G1')

            A         B
Num
1   -0.993263  0.196800
2   -1.136645  0.000366
3    1.025984 -0.156598

In [63]:
df.xs(['G1',1])

A   -0.993263
B    0.196800
Name: (G1, 1), dtype: float64

In [64]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.993263  0.196800
G2    -0.031579  0.649826