### Filter, Groupby and Sort

Filter helps select a record or group of records based on certain conditions.

GroupBy allows to group together rows based off of a column and perform an aggregate function on them

Sort arranges records in ascending or descending order based on some column order.

In [18]:
import numpy as np
import pandas as pd

In [19]:
#Creating a dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [20]:
df = pd.DataFrame(data)

In [21]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

#### Filter

In [22]:
# Retrieve all sales greater than 200

df[df['Sales'] > 200]

  Company Person  Sales
2    MSFT    Amy    340
4      FB   Carl    243
5      FB  Sarah    350

In [23]:
# Retrieve GOOG company records
df[df['Company'] == 'GOOG']

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120

In [24]:
# Retrieve FB company records
df[df['Company'] == 'FB']

  Company Person  Sales
4      FB   Carl    243
5      FB  Sarah    350

#### Groupby

In [25]:
# group the dataset by the company column
df.groupby('Company')

Saving this object to a new variable

In [31]:
byComp = df.groupby('Company')

In [32]:
byComp

In [28]:
byComp.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [29]:
byComp.sum()

             Person  Sales
Company
FB        CarlSarah    593
GOOG     SamCharlie    320
MSFT     AmyVanessa    464

In [30]:
byComp.std()

ValueError: could not convert string to float: 'Sam'

In [ ]:
byComp.sum().loc['FB']

In [17]:
df.groupby('Company').sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [18]:
df.groupby('Company').max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [19]:
df.groupby('Company').min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [20]:
df.groupby('Person')

In [21]:
df.groupby('Person').mean()

         Sales
Person
Amy      340.0
Carl     243.0
Charlie  120.0
Sam      200.0
Sarah    350.0
Vanessa  124.0

In [22]:
df.groupby('Company').describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [23]:
df.groupby('Company').describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [24]:
df.groupby('Company').describe().transpose()['FB']

Sales  count      2.000000
       mean     296.500000
       std       75.660426
       min      243.000000
       25%      269.750000
       50%      296.500000
       75%      323.250000
       max      350.000000
Name: FB, dtype: float64

#### Sort

In [25]:
df_new = df.copy()
df_new

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [28]:
# df.sort_values(col1) 
df_new.sort_values('Company')

  Company   Person  Sales
4      FB     Carl    243
5      FB    Sarah    350
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124

In [29]:
#This sorts in descending order
df_new.sort_values('Person',ascending=False)

  Company   Person  Sales
3    MSFT  Vanessa    124
5      FB    Sarah    350
0    GOOG      Sam    200
1    GOOG  Charlie    120
4      FB     Carl    243
2    MSFT      Amy    340

In [31]:
#sorting more than one column
df_new.sort_values(['Company','Person'], ascending=[True,False])

  Company   Person  Sales
5      FB    Sarah    350
4      FB     Carl    243
0    GOOG      Sam    200
1    GOOG  Charlie    120
3    MSFT  Vanessa    124
2    MSFT      Amy    340