# Dictionaries, Tuples and Sets

### Dictionaries
So far we've only seen how to store data types in sequences like storing characters in a string or items in a list. But what if we want to store information another way? Python support Dictionaries which is a key-item data structure. 

The choice of deciding between sequences like a list and mappings like a dictionary often depends on the specific situation. As you become a stronger programmer, choosing the right storage format will become more intuitive.

Let's cover the basics of dictionaries!

## Creating a Dictionary

In [1]:
new_dict = {"item1": 1,
           "item2" : 2,
           "item3" : "Abuja"}

In [ ]:
dict = {
name
}

In [2]:
new_dict["item3"] = "Kano"

In [3]:
new_dict

{'item1': 1, 'item2': 2, 'item3': 'Kano'}

In [4]:
# Make a dictionary with {} and : to signify a key and a value
d = {'Name':'Otabil','Age':'12'}

In [6]:
# Call values by their key
d['Name']

'Otabil'

In [7]:
d['Age']

'12'

### Adding New Key-Item Pairs

In [10]:
d['height'] = '6"7'

In [11]:
d

{'Name': 'Otabil', 'Age': '12', 'new_key': 'new item', 'height': '6"7'}

**Note: Dictionaries are unordered! *This may not be clear at first with smaller dictionaries, but as dictionaries get larger they won't retain order, which means they can not be sorted!* If you need order and the ability to sort, stick with a sequence, like a list!**

In [12]:
d = {'a':1,'z':2}

In [13]:
d

{'a': 1, 'z': 2}

In [14]:
d['new'] = 0

In [15]:
d

{'a': 1, 'z': 2, 'new': 0}

In [16]:
d['za'] = 'hello'

In [17]:
d

{'a': 1, 'z': 2, 'new': 0, 'za': 'hello'}

Dictionaries are very flexible in the data types they can hold, they can hold numbers, strings, lists, and even other dictionaries!

In [3]:
d = {'k1':10,
     'k2':'stringy',
     'k3':[1,2,3,],
     'k4':{'inside_key':[20,30,40, {"keyinside": [60,20, "thirty"]}]}}

In [7]:
d['k4']['inside_key'][1]

30

In [19]:
d["k4"]["inside_key"][3]["keyinside"][1:]

[20, 'thirty']

In [20]:
d['k1']

10

In [21]:
d['k2']

'stringy'

In [22]:
d['k3']

[1, 2, 3]

In [23]:
d['k3'][0]

1

In [24]:
d['k4']

{'inside_key': [20, 30, 40, {'keyinside': [60, 20, 'thirty']}]}

In [25]:
d['k4']['inside_key']

[20, 30, 40, {'keyinside': [60, 20, 'thirty']}]

Error if you ask for a key that isn't there!

In [26]:
d['oops']

KeyError: 'oops'

Keep dictionaries in mind when you need to create a mapping and don't care about order! 

For example:

In [12]:
short_names = {"AAU": "Ambrose Alli University",
             "OAU": "Obafemi Awolowo University",
             "UNILAG": "University of Lagos",
             "NDA": "National Defence Academy"}

In [15]:
short_names.keys()
short_names.items()

dict_items([('AAU', 'Ambrose Alli University'), ('OAU', 'Obafemi Awolowo University'), ('UNILAG', 'University of Lagos'), ('NDA', 'National Defence Academy')])

In [10]:
short_names["AAU"]

'Ambrose Alli University'

Another example of using Dictionaries...

In [29]:
pop_in_mil = {"Nigeria": 180,
              "USA":323,
              "Germany": 83,
              "India": 1324}

In [30]:
pop_in_mil["Nigeria"]

180

## Methods

In [31]:
short_names.values()

dict_values(['Ambrose Alli University', 'Obafemi Awolowo University', 'University of Lagos', 'National Defence Academy'])

In [32]:
short_names.keys()

dict_keys(['AAU', 'OAU', 'UNILAG', 'NDA'])

In [33]:
short_names.items()

dict_items([('AAU', 'Ambrose Alli University'), ('OAU', 'Obafemi Awolowo University'), ('UNILAG', 'University of Lagos'), ('NDA', 'National Defence Academy')])

# Tuples 

Tuples are ordered sequences just like a list, but have one major difference, they are **immutable**. Meaning you can not *change* them. So in practice what does this actually mean? It means that you can not reassign an item once its in the tuple, unlike a list, where you can do a reassignment.

Let's see this in action:

## Creating a Tuple

You use parenthesis and commas for tuples:

In [34]:
t = (1,2,3)

In [35]:
type(t)

tuple

In [36]:
# Mixed data types are fine
t = ('a',1)

In [16]:
t = ('a','a','a','a','b','c')

In [17]:
t.count('a')

4

In [37]:
# Indexing works just like a list
t[0]

'a'

## Immutability

In [38]:
mylist = [1,2,3]

In [39]:
type(mylist)

list

In [40]:
# No problem for a list!
mylist[0] = 'new'

In [41]:
mylist

['new', 2, 3]

In [42]:
t = (1,2,3)

In [43]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

You also can't add items to a tuple:

In [44]:
t.append('NOPE!')

AttributeError: 'tuple' object has no attribute 'append'

## Tuple Methods

Tuples only have two methods available .index() and count()

In [45]:
t = ('a','b','c','a')

In [46]:
# Returns index of first instance!
t.index('a')

0

In [47]:
t.count('b')

1

## Why use tuples?

Lists and tuples are very similar, so you may find yourself exchanging use cases for either one. However, you should use a tuple for collections or sequences that shouldn't be changed, such as the dates of the year, or user information such as an address,street, city , etc.

# Sets

Another fundamental Data Structure is The Set!

Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works:

## Constructing Sets

In [48]:
x = set()

In [49]:
x.add(1)

In [237]:
x

{1, 2}

In [106]:
x.add(2)

In [107]:
x

{1, 2}

Note the curly brackets. This does not indicate a dictionary!

A set has only unique entries. So what happens when we try to add something that is already in a set?

In [108]:
x.add(1)

In [109]:
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [238]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [239]:
set(mylist)

{1, 2, 3}

You can also quickly create a set with just {}

In [242]:
myset = {1,2,3,3,3,3,3,3}

In [243]:
myset

{1, 2, 3}

In [241]:
type(myset)

set